/**** Mes Polices ****/
@font-face {
    font-family: "Mali Medium";
    src: url(Font_Mali-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Mali Regular";
    src: url(Font_Mali-Regular.ttf) format("truetype");
}

/******************* Global *******************/

body {
    background-image: url("../Images/Background_light.png"); 
    background-position: top;
    font-family: "Mali Regular", arial, sans-serif;
}


/***************** En-tête *****************/

#enTete h1,#enTete img{
    box-shadow: 1px 1px 5px gray;
    position: absolute;
}
#enTete h1 {
    background-color: rgb(255, 255, 255);
    border-radius: 0 20px 20px 0;
    font-family: "Mali Medium", arial, sans-serif;
    height: 50px;
    left: 95px;
    line-height: 50px;
    padding-left: 15px;
    width: 240px;
}
#enTete img {
    background-color: white;
    border-radius: 50%;
    border:rgb(246,	69, 85) 4px solid;
    height: 90px;
}


/************** Présentation **************/

#introduction {
    background-image: url("../Images/Cadre_Discussion.png");
    background-position: -137px -19px;
    background-size: 145%;
    height: 430px;
    left: calc(50% - 360px);
    position: absolute;
    top: calc(50% - 300px);
    width: 660px;
}

#introduction p {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 59px;
    margin-left: 158px;
    position: relative;
    top: 190px;
    width: 445px;
}

#introduction img {
    filter: drop-shadow(2px 2px 5px grey);
    float: right;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 335px;
    width: 80px;
}   #introduction img:hover {
        cursor: pointer;
        filter: 
            drop-shadow(0 0 20px rgb(240, 255, 27)) 
            brightness(1.25);
        height: 85px;
        width: 85px;
    }

/******* Lien de téléchargement du CV *******/

#cv,#cv p,#flecheRouge{position: absolute;}

#cv {
    bottom: 20px;
    color: white;
    font-family: "Mali Medium", arial, sans-serif;
    left: 20px;
}

#cv p {
    font-size: 25px;
    left: 95px;
    text-shadow: 1px 1px 3px gray;
    width: 140px;
}

#cv a img {
    bottom: 3px;
    filter: drop-shadow(2px 2px 5px rgb(61, 61, 61));
    float: left;
    left: 3px;
    position: relative;
    width: 96%;
}   #cv a:hover img{
        cursor: pointer;
        filter: 
            drop-shadow(0 0 20px rgb(211, 83, 55)) 
            brightness(1.25);
        width: 100%;
    }

#flecheRouge {
    height: 70px;
    transform : rotate(-45deg);
}


/************ Jeu des différences ************/

#introduction {display: none;}
/* Attention à désactivé juste au dessus à la fin du montage !!!!!*/

#jeuDesDifferences,#jeuDesDifferences > h2,#differencesCachees,#differencesCachees>div:nth-child(1),#differencesCachees>div:nth-child(2),#differencesCachees>div:nth-child(3),#differencesCachees>div:nth-child(4),#differencesCachees>div:nth-child(5) {position: absolute}

#jeuDesDifferences,#jeuDesDifferences > h2 {
    background-color: white;
    box-shadow: 1px 1px 5px gray;
}

#jeuDesDifferences,.imageDesDifferences {border-radius: 10px}

#jeuDesDifferences {
    border: yellow double 8px;
    height: 506px;
    left: calc(50% - 478px);
    padding: 20px;
    top: calc(50% - 278px);
    width: 957px;
}

#jeuDesDifferences > h2{
    border-radius: 30px;
    border:rgb(246,	69, 85) 3px solid;
    padding: 10px;
    top: -73px;
}

#jeuDesDifferences>div:nth-child(2){float: left}
#jeuDesDifferences>div:last-child,.imageDesDifferences>img{float: right}

#jeuDesDifferences h3 {
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
}

.imageDesDifferences,#differencesCachees {
    height: 459px;
    width: 459px;
}

.imageDesDifferences {border: yellow solid 4px;}

.imageDesDifferences>img {height: 100%;}

#differencesCachees {
    bottom: 24px;
    right: 24px;
    z-index: 1;
}   #differencesCachees:hover {
        cursor: pointer;
    }

.imageDesDifferences,#differencesCachees>div:nth-child(1),#differencesCachees>div:nth-child(2),#differencesCachees>div:nth-child(3),#differencesCachees>div:nth-child(4),#differencesCachees>div:nth-child(5) {overflow: hidden}

.imageDesDifferences>img,#differencesCachees>div:nth-child(1)>img,#differencesCachees>div:nth-child(2)>img,#differencesCachees>div:nth-child(3)>img,#differencesCachees>div:nth-child(4)>img,#differencesCachees>div:nth-child(5)>img {position: relative}

#differencesCachees>div:nth-child(1) {
    height: 20px;
    left: 436px;
    top: 423px;
    width: 19px;
}   #differencesCachees>div:nth-child(1)>img {
        bottom: 1px;
        right: 179px;
    }

#differencesCachees>div:nth-child(2) {
    height: 18px;
    left: 170px;
    top: 181px;
    width: 18px;
}   #differencesCachees>div:nth-child(2)>img {
        right: 31px;
    }

#differencesCachees>div:nth-child(3) {
    height: 15px;
    left: 316px;
    top: 163px;
    width: 18px;
}   #differencesCachees>div:nth-child(3)>img {
        bottom: 22px;
        right: 87px;
    }

#differencesCachees>div:nth-child(4) {
    height: 13px;
    left: 17px;
    top: 242px;
    width: 16px;
}   #differencesCachees>div:nth-child(4)>img {
        bottom: 2px;
    }

#differencesCachees>div:nth-child(5) {
    height: 22px;
    left: 230px;
    top: 291px;
    width: 18px;
}   #differencesCachees>div:nth-child(5)>img {
        right: 87px;
    }